# This is a default configuration of detailed (aka interesting aka tracked) methods.
# In order to lessen impact on performance, do not place here methods which never allocate memory.
# It is strongly advised to specify custom classes along with their interfaces
# so that transformer can properly process calls to the custom classes via interfaces.
#
# File format:
# Sections are separated with empty lines.
# First line of each section contains fully qualified class name.
# Each of the following lines contain one method name or asterisk '*'.
# Asterisk '*' means that every method of the class shall be tracked.
#
# If no method is explicitly specified, every method of the class is tracked.
# This behavior can be changed by overriding configuration and specifying the methods explicitly.
# On the other hand, asterisk behavior cannot be changed via overridding configuration.

java.lang.Object
toString

java.lang.String
<clinit>
<init>
replace
split
toLowerCase
toUpperCase
toCharArray
format
valueOf
copyValueOf
substring
concat
intern

java.lang.StringBuilder

java.lang.StringBuffer

java.util.regex.Pattern

java.util.Calendar


####################
# Collections

java.util.Arrays
*

java.util.Collections
*

java.util.ArrayList
<clinit>
<init>
clone
toArray
add
addAll
remove
removeAll

java.util.LinkedList

java.util.HashSet
<clinit>
<init>
add
addAll
clone
iterator

java.util.TreeSet
<clinit>
<init>
subSet
headSet
tailSet
add
addAll
clone
iterator
descendingIterator

java.util.IdentityHashMap
<clinit>
<init>
clone
put
putAll
keySet
values
entrySet
iterator

java.util.HashMap
<clinit>
<init>
clone
put
putAll
keySet
values
entrySet
iterator

java.util.TreeMap
<clinit>
<init>
clone
put
putAll
keySet
values
entrySet
iterator
key
exportEntry
descendingMap


####################
# Boxing methods should be tracked, except for java.lang.Boolean.valueOf

java.lang.Byte
valueOf

java.lang.Short
valueOf

java.lang.Integer
valueOf

java.lang.Long
valueOf

java.lang.Float
valueOf

java.lang.Double
valueOf

java.lang.Double
valueOf

java.math.BigInteger
valueOf

java.math.BigDecimal
valueOf


####################
# Reflection

java.lang.reflect.Constructor
newInstance


####################
# Serialization

java.io.ObjectOutputStream
writeClass
writeClassDesc


####################
# Deserialization

java.io.ObjectInputStream
readClass
readClassDesc

